<section class="marketplace-lander" style="margin: 0;">
  <div class="coverimage">
    <figure class="marketplace-cover fluidratio"></figure>
  </div>
  <div class="wrapper">
    <div class="lander-content-container">
      <div class="lander-content marketplace-lander-content">
        <h2 class="slider-lander-content-title marketplace-lander-content-title" style="padding: 0; margin-top: 30px;">
          RENT A JET SKI FROM SOMEONE LIKE YOU
        </h2>
        <p>
          Get paid to share your Jet Skis ATVs and more with others!
          <%= link_to 'join for free>>', sign_up_path, :class => 'join-now-link' %>
        </p>
      </div>
    </div>
  </div>
  <div class="home-page-wrapper" style="position: absolute; width: 100%; bottom: 0px;">
    <div style="margin: 30px auto; width: 77%;">
      <form action="<%= home_listing_path %>" method="get">
        <div class="home-search" id='search'>
          <%= render :partial => 'homepage/search_bar' %>
        </div>
      </form>
    </div>
  </div>
</section>