<%= content_for :title_header do %>
    <% with_small_cover_photo do %>
        <h1> Shyftn Community </h1>
    <%end%>
<%end%>
<div class="row" id="community">
  <div class="col-12 clear clearfix quoate-item">
    <div class="col-3">
      <img src="/assets/first_community.jpg" class="design-fluid-thumbnail-grid-item-3x2 user-img" alt="Empty_3x2">
    </div>
    <div class="col-7 user-quate">
      When I met up with the owner of the ATV, she was very kind and welcoming. She took me to a nearby location to ride the AN. The area was in the middle of the woods, and it was REALLY fun exploring! There were trails everywhere! When my time was up, I met her at the same spot she dropped me off at. Such a great time!
      <div class="user-info">
        - <a href="#"> Liz </a>
      </div>
    </div>
  </div>

  <div class="col-12 clear clearfix quoate-item">
    <div class="col-3">
      <img src="/assets/second_community.jpg" class="design-fluid-thumbnail-grid-item-3x2 user-img" alt="Empty_3x2">
    </div>
    <div class="col-7 user-quate">
      Me and a friend rented a couple of jet skis for an hour while we were on vacation. Shyftn was easy to use and we booked our jet skis in minutes. When we arrived to the jet ski owner's home, we were greeted by an older man named Fred. He took us to his dock and told us he doesn't ride much anymore. We never rode jet skis before so, Fred showed us how to use them and we were ready to go! Upon our return, he asked if we had a good time. We told him of course, and he insisted we ride for another hour at no extra cost!!! It was such as blast, and we will for sure use Shyftn again.
      <div class="user-info">
        - <a href="#"> Jordan </a>
      </div>
    </div>
  </div>

  <div class="col-12 clear clearfix quoate-item">
    <div class="col-3">
      <img src="/assets/third_sentence.jpg" class="design-fluid-thumbnail-grid-item-3x2 user-img" alt="Empty_3x2">
    </div>
    <div class="col-7 user-quate">
      Using Shyftn has been beneficial for my family and I. We have gained an additional source of income that is easy and convenient. Plus, I get to meet a lot of new people!
      <br/>
      <b>*******</b>
      </br>
      Earn money by letting others use your ORV.
      </br>
      Explore new places Your adventure awaits...
      <div class="user-info">
        - <a href="#"> Debbie</a>
      </div>
    </div>
  </div>
</div>