<div class="row" id="community">
  <div class="col-12 clear clearfix quoate-item">
    <div class="col-3">
      <img src="/assets/empty_3x2.gif" class="design-fluid-thumbnail-grid-item-3x2 user-img" alt="Empty_3x2">
    </div>
    <div class="col-7 user-quate">
      It simplified my accounts, took the stress away and changed my one day a month into third minutes. It enabled me
      to centralise my invoicing. bills, bank accounts and quoates.
      <div class="user-info">
        - <a href="#"> Mark Crosby </a> | Blue Cherry
      </div>
    </div>
  </div>

  <div class="col-12 clear clearfix quoate-item">
    <div class="col-3">
      <img src="/assets/empty_3x2.gif" class="design-fluid-thumbnail-grid-item-3x2 user-img" alt="Empty_3x2">
    </div>
    <div class="col-7 user-quate">
      I have been impressed with your friendliness and responsiveness. I would go so far as to say set a benchmark in
      customer support that other companies could learn a lot from.
      <div class="user-info">
        - <a href="#"> Mark Stocker </a>
      </div>
    </div>
  </div>

  <div class="col-12 clear clearfix quoate-item">
    <div class="col-3">
      <img src="/assets/empty_3x2.gif" class="design-fluid-thumbnail-grid-item-3x2 user-img" alt="Empty_3x2">
    </div>
    <div class="col-7 user-quate">
      Dis covering FreeAgent was like a breath of fresh air, it is so easy invoicing for our time now - our cash frlow
      has been significantly improved. We get invoice sent out regularly, never forget to bill.
      <div class="user-info">
        - <a href="#"> Emily Heath </a> | Whitespace
      </div>
    </div>
  </div>
</div>