<%= content_for :title_header do %>
    <% with_small_cover_photo do %>
        <h1> Shyftn Promise  </h1>
    <%end%>
<%end%>
<div id="promise">
  <h1 class="promise-title">
    The Shyftn Promise
  </h1>
  <!--<div class='promise-logo'>-->
    <!--<%#= image_tag('shyftn_promise.png') %>-->
  <!--</div>-->
  <p>
    Each eligible booking on Shyftn is protected by the Shyftn Promise at no extra cost to you. Things are always a little better when they are free, and this is no exception!
  </p>
  <p>
    <b>What is protected?</b> <br/><br/> It is very unlikely you will experience any damage to your ORV on Shyftn, but we wanted to add an extra level of protection just in case. The Shyftn Promise provides you with protection for damages done to eligible property in the event these damages cannot directly be resolved with the guest. These payments are subject to certain conditions, limitations, and exclusions. Details can be found in our Terms and Conditions.
    <br/>
    Hosts seeking payments under the Shyftn Promise agree to provide all documentation of damages claimed.
  </p>
  <p>
    <b>What is not protected?</b> <br/><br/> The Shyftn Promise is not insurance and should not be considered as a replacement or stand-in for ORV insurance or any other applicable insurance coverage. The Shyftn Promise does not cover the following:
  </p>
  <p>
    -Cash <br/> -Personal Liability <br/> -Intentional Damage <br/> -Normal wear and tear
  </p>
  <br/>
  <p>
    <b>General Information</b> <br/> <br/>If an emergency situation occurs during the rental period, please contact the proper authorities for help(police, ambulance ect.).
    <br/>
    All claim submissions need to be submitted within 14 days after the last rental of their ORV or before the next guest rental of their ORV, whichever comes first.
    <br/>
    Once we receive the proper information from the host and guest, we will review the payment request and contact the host once our review of the claim is completed.
    <br/>
    Payment requests are subject to the Shyftn Promise Terms so we suggest reading the terms prior to submitting a claim.
  </p>
  <p>
   <b> What should I do before submitting a request for payment?</b> <br/><br/> The host should notify the guest about their complaint and try to resolve the issue directly with the guest. Most situations are resolved by the host and guest without Shyftn becoming involved. If a solution cannot be reached, you have the opportunity then to send in your request for payment to Shyftn. Please keep in mind that requests for $250 and over requires a police report to be filed along with the payment request. We encourage a police report to be filed anytime a resolution cannot be achieved. Some items that should be included are a police report(if applicable), before and after dated photographs, receipts, proof of ownership and two valid estimates to repair any damage.

  </p>
  <p>
    <b>Should I insure my ORV?</b> <br/><br/> The Shyftn Promise is not insurance and should not be considered as a replacement for insurance. That being said, hosts may want to consider obtaining insurance just in case their request for payment is not covered under the Shyftn Promise. We strongly encourage all hosts to review their insurance coverage thoroughly to ensure adequate coverage.
  </p>
</div>