<div id="promise">
  <h1 class="promise-title">
    The Shyftn Promise
  </h1>
  <div class='promise-logo'>
    <%= image_tag('shyftn_promise.png') %>
  </div>
  <p>
    Each eligible booking on Shyftn is protected by the Shyftn Promise at no extra cost to you. Things are always a little better when they are free and this is no exception.
  </p>
  <p>
    What is protected? <br/> It is highly unlikely you will encounter property damage on Shyftn, but we add this extra level of protection just in case. The Shyftn Promise provides you with protection for damages done to eligible property in the event these damages cannot directly be resolved with the guest. These payments are subject to certain conditions, limitations, and exclusions. Details can be found in our terms and conditions. <br/>
    Hosts seeking payments under the Shyftn Promise agree to provide all documentation of losses claimed.
  </p>
  <p>
    What is not protected? <br/> The Shyftn Promise is not insurance and should not be considered as a replacement or stand-in for ORV insurance or other applicable insurance coverage. The Shyftn Promise does not cover the following:
  </p>
  <p>
    Cash <br/> Personal Liability <br/> Intentional Damage <br/> Normal wear and tear
  </p>
  <p>
    General Information <br/> If an emergency situation arises, the host should contact the proper authorities(police) first before contacting Shyftn. If it is not an emergency situation, hosts should contact the guest they believe caused the specific property damages in question and try to come to a resolution. If a resolution cannot be reached, the host should review the Shyftn Promise terms to see if they are eligible. If the host is covered, they should contact Shyftn directly so their claim can be reviewed.
    <br/>
    All claim submissions need to be submitted within 14 days after the last rental of their ORV or before the next guest rental of their ORV, whichever comes first.
    <br/>
    Once we receive the proper information from both the host and the guest, we will evaluate the payment request and contact the host upon the completion of our review.
    <br/>
    Payment requests are subject to the Shyftn Promise terms so we suggest reading the terms prior to submitting a claim.
  </p>
  <p>
    What should I do before submitting a request for payment? <br/> The host should notify the guest about their complaint and try to solve the issue directly with the guest. Hosts and guests typically resolve any issues on their own. If you are unable to come to a solution, you may then send in your request for payment. Please keep in mind that requests for $250 and over a police report is required. We encourage a police report to be filed in all cases when a resolution cannot be achieved. As the host, you must gather as much documentation as you can and submit it to Shyftn regarding the damaged property. Things that should be included are the police report, before and after rental photographs(dated), receipts, proof of ownership and two valid estimates to repair any damage.
  </p>
  <p>
    Should I insure my ORV? <br/> The Shyftn Promise is not insurance and should not be considered as a replacement for insurance. Hosts may want to consider obtaining insurance just in case their request for payment is not covered by the Shyftn Promise. We strongly encourage all hosts to review their insurance coverage thoroughly to ensure adequate coverage.
  </p>
</div>