header {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #adadad;
  color: #fff;
  line-height: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  .header-text-link {
    color: #ffffff;
  }

  .header-logo-link {
    &.visible-tablet {
      left: calc(50% - 41px);
      position: absolute;
      top: 0;
      margin-bottom: 0.325em !important;
      margin-top: 0.9em !important;
    }
    &.hidden-tablet {
      float: left;
      margin-left: 5px;
    }
  }

  #mobile-logo {
    width: 40px;
    width: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .left-menu {
    display: inline-block;
    text-align: left;
    float: left;
  }

  .middle-logo {
    position: absolute;
    top: 0;
  }

  .right-actions {
    display: inline-block;
    text-align: right;
    float: right;
  }

  .header-wrapper {
    background: transparent !important;
    max-width: 100%;
  }
  #header-menu-toggle-menu, #header-user-toggle-menu {
    top: 60px !important;
  }
}

.marketplace-lander {
  margin-top: 60px;
  position: relative;
}

#search {
  position: relative;
  margin: 20px 0;
  text-align: center;
  input[type='text'] {
    width: 100%;
    padding: 0.25em 0.5em;
    font-size: 100%;
    border: 2px solid #c3c3c3;
  }
  #search-button {
    background: #2754e8 none repeat scroll 0 0;
    height: 38px;
    margin: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    -webkit-border-radius: 0px 4px 4px 0px !important;
    -moz-border-radius: 0px 4px 4px 0px !important;
    border-radius: 0px 4px 4px 0px !important;
    width: auto;
    padding: 10px 1.5em 4px;
  }
}

.marketplace-lander-content {
  h2.slider-lander-content-title {
    font-size: 2.3em;
  }
}

.global-footer {
  background: #070716;
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
  nav.primary {
    font-weight: bold;
    padding-bottom: 5px;
    a {
      color: #aaaaaa;
    }
  }
  nav.secondary {
    a {
      color: #aaaaaa;
    }
  }
}

.page-content {
  padding-bottom: 10px !important;
}

.promise-title {
  text-align: center;
  color: #0E35B5;
  font-weight: bold;
}

.promise-logo {
  text-align: center;
  margin: 10px 0;
  img {
    width: 120px;
  }
}

#community {
  .user-quate {
    background: rgba(0, 0, 0, 0) url("community_quate.png") no-repeat scroll left top;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
  }

  .user-img {
    border: 1px solid #ccc;
    max-width: 175px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .quoate-item {
    padding: 0;
    margin-bottom: 20px;
    .user-info {
      margin-top: 15px;
      a {
        color: #89BCD1;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

// Design Home Layout

.home-header-text {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 15px 0 55px;
  &.visible-tablet {
    font-size: 24px;
  }
}

.shyftn-quoate {
  margin: 10px 0;
  .quoate-item {
    h1 {
      font-size: 18px;
      text-align: center;
    }
    .quoate-text {
      text-align: center;
    }
  }
}

.home-box-content {
  margin-top: 30px;
  h3 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
  }

  .box-item {
    padding: 10px 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    position: relative;
    .box-item-text {
      background: rgba(100, 100, 100, 0.3) none repeat scroll 0 0;
      color: #ffffff;
      position: absolute;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      bottom: 10px;
      padding: 10px 5px;
      word-spacing: 2px;
      width: calc(100% - 10px);
      a {
        color: #07A20A;
      }
    }
    img {
      width: 100%;
      min-height: 250px;
      border-radius: 7px;
    }
  }

  .box-item-image {
    margin-top: 10px;
    img {
      width: 100%;
    }
  }
}

.join-now-link {
  color: #ffffff;
  font-weight: bolder;
}

.join-now-link:hover{
  color: #2754e8 !important;
}

.map-search-listing {
  height: 350px;
}

.map-link {
  text-align: center;
  a {
    color: #07A20A;
    font-size: 16px;
  }
}

#header-user-desktop-anchor {
  padding-left: 0 !important;
}

.header-user-toggle {
  padding-left: 15px;
}

#header-user-mobile-anchor {
  padding-left: 15px;
}

.home-search {
  #q {
    min-height: 45px;
    font-size: 18px !important;
  }
  .search-form-input {
    #search-button {
      padding: 12px 1.5em 7px !important;
      height: 41px !important;
    }
  }
}

.copyright p {
  font-size: 14px;
}