@media only screen and (max-width: 850px) {
  .home-header-text {
    font-size: 28px;
  }
}

@media only screen and (max-width: 700px) {
  .home-page-cover-photo {
    background-position: center center !important;
    height: 22.8125em !important;
  }
}

@media only screen and (max-width: 650px) {
  .home-header-text {
    font-size: 23px;
  }
  .marketplace-lander {
    .marketplace-lander-content {
      top: -17em !important;
    }
  }
  .home-header-text-sm, .home_page_second_image_text {
    font-size: 24px;
    line-height: 25px;
  }

  .marketplace-lander-content {
    h2.slider-lander-content-title {
      font-size: 36px;
    }
  }
}

@media only screen and (max-width: 530px) {
  .home-header-text {
    font-size: 20px;
  }
  .marketplace-lander {
    .marketplace-lander-content {
      top: -17em !important;
    }
  }
  .home-header-text-sm, .home_page_second_image_text {
    font-size: 22px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 490px) {
  .marketplace-lander {
    .marketplace-lander-content {
      top: -18em !important;
    }
  }
  .home-header-text-sm, .home_page_second_image_text {
    font-size: 19px;
  }
  .home_page_image {
    img {
      height: 350px;
    }
  }
}